.register-container {
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box {
    margin: 0.5vh;
    border-radius: 20px;
    width: 20vw;
}

.input-box:focus{
    border: 1px solid #555;
}

.input-error {
    color: red;

    font-style: italic;
}

.btn-register{
    border-radius: 10px;
    width: 8vw;
}