.card{
    margin: 1em;
    justify-content: center;
    align-items: center;
    color: #fefae0;
    text-align: center;
    border: 1.5px solid #fefae0;
    
}

.card-img{
    width: 10em;
    height: 10em;
    transition: width 0.5s, height 0.5s;
}

.card,.card-img{
    border-radius: 10%;
}

.card-img:hover{
    width: 13em;
    height: 13em;
}

.card-name{
    inline-size: 10em;
}



