.login-container{
    height: 86vh;
    display: flex;
    justify-content: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin-top: 1em;
}